.preco-desktop {
    padding-top: 5em;
    background-color: var(--preto-fundo);
    margin: 0 4em 4em 4em;
    padding-bottom: 5em;
    border-radius: 15px;
    color: var(--branco);
}

.preco-desktop__textos {
    text-align: center;
}

.preco-desktop__textos-titulo {
    font-size: 3em;
}

.preco-desktop__textos-subtitulo {
    opacity: .8;
}

.preco-desktop-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em 0;
    gap: 2em;
}

.preco-desktop-card {
    background-color: var(--preto-fundo);
    color: var(--branco);
    padding: 2em;
    width: 250px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 1px 4px 10px var(--preto);
}

.preco-desktop-card__preco {
    font-size: 2.5em;
}

.preco-desktop-card__mes {
    opacity: .7;
}

.preco-desktop-card__preco-mes {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.preco-desktop-card__descricao {
    margin-top: 2em;
    opacity: .7;
}

.preco-desktop-card__botao {
    padding: 1em 2em;
    text-align: center;
    width: 100%;
    margin-top: 3em;
    background-color: var(--preto-fundo);
    box-shadow: 1px 1px 5px 1px var(--preto);
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .2s;
    color: var(--branco);
}

.preco-desktop-card__botao:hover {
    background-color: var(--azul-botao);
}

.preco-desktop-card-popular {
    background-color: var(--preto-fundo);
    color: var(--branco);
    border-radius: 15px;
    padding: 2em;
    width: 300px;
    height: 350px;
    box-shadow: 1px 4px 10px var(--preto);
}

.preco-desktop-card__botao-popular {
    padding: 1.5em 2em;
    text-align: center;
    width: 100%;
    margin-top: 6em;
    background-color: var(--preto-fundo);
    box-shadow: 1px 1px 5px 1px var(--preto);
    font-weight: 700;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .2s;
    color: var(--branco);
}

.preco-desktop-card__botao-popular:hover {
    background-color: var(--azul-botao);
}

.preco-desktop__comparacao-titulo {
    padding-left: 6em;
}

.preco-desktop-comparacao__planos {
    padding-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16em;
}

.preco-desktop__comparacao-detalhes {
    padding: 0 10em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco-desktop__comparacao-detalhe {
    width: 300px;
}

.detalhe {
    margin-bottom: 1em;
    font-size: .8em;
}
