.cabecalho-desktop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em 0;
    color: var(--branco);
}

.cabecalho-desktop__categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.cabecalho-desktop__categoria {
    text-decoration: none;
    font-weight: 600;
    color: var(--branco);
    transition: .2s;
}

.cabecalho-desktop__categoria:hover {
    opacity: .5;
}

.icon {
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: var(--branco);
    transition: .2s;
}

.icon:hover {
    opacity: .5;
}

.cabecalho-mobile {
    display: none;
}

.instaicon {
    color: var(--branco);
}

@media screen and (max-width: 1024px) {

    .cabecalho-desktop {
        display: none;
    }

    .cabecalho-mobile {
        display: flex;
        flex-direction: column;
    }

    .cabecalho-mobile__topo {
        display: flex;
        flex-direction: column;
    }

    .cabecalho-mobile__topo-clicaveis {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        color: var(--branco);
    }

    .cabecalho-mobile__sidebar-show {
        background-color: var(--branco);
        position: absolute;
        width: 200px;
        left: 0px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 1em;
    }

    .cabecalho-mobile__sidebar-hide {
        background-color: var(--branco);
        position: absolute;
        width: 200px;
        left: -250px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 1em;
    }

    .cabecalho-mobile__sidebar-categoria {
        text-decoration: none;
        color: var(--preto);
        font-size: 1.3em;
        font-weight: 600;
    }

}
