@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--verde-fundo);
    color: var(--preto);
}

html {
    scroll-behavior: smooth;
}

.linha {
    width: 80%;
    background-color: var(--branco);
    height: 1px;
    opacity: .3;
    margin: 2em auto 2em auto;
}

:root {
    --preto: #000;
    --branco: #fff;
    --cinza: #afafaf;
    --verde-fundo: #356424;
    --verde-precos: #539b50;
    --verde-preco-container: #376836;
    --verde: #439A97;
    --verde-container: #DAE2B6;
    --verde-preco-popular: #315031;
    --verde-popular-botao: #328d4d;
    --verde-botao: #449e5e;
    --preto-fundo: #202020;
    --azul-botao: #4e47da;
    --azul: rgb(30, 56, 172);
}

@media screen and (min-width: 1800px) {

    a {
        font-size: 1.2em;
    }

}
